@model WebApplication1.Models.CourseHasStudent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseHasStudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Βαθμός
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeCourseStudent)
        </dd>
        <dt class = "col-sm-2">
            Μάθημα
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCourseNavigation.CourseTitle)
        </dd>
        <dt class = "col-sm-2">
            Αριθμός Μητρώου
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumberNavigation.RegistrationNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Pk">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
