@model WebApplication1.Models.CourseHasStudent

@{
    ViewData["Title"] = "Grading";
}

<h1>Add Grade</h1>


<hr />
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.RegistrationNumberNavigation)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.RegistrationNumber)
</dd>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Grading">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="form-group">
                <label asp-for="IdCourse" class="control-label"></label>
                <select asp-for="IdCourse" class="form-control" asp-items="ViewBag.IdCourse"></select>
                <span asp-validation-for="IdCourse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <select asp-for="RegistrationNumber" class="form-control" asp-items="ViewBag.RegistrationNumber"></select>
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="GradeCourseStudent" class="control-label"></label>
                    <input asp-for="GradeCourseStudent" class="form-control" />
                    <span asp-validation-for="GradeCourseStudent" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Pk" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ToGrade">Back to Your Grades</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
